<section class="new-training" fxLayout fxLayoutAlign="center">
  <!-- Here we use the Template-driven approach for this form -->
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">

      <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>

      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises$ | async">
          <mat-select placeholder="Choose Exercise" ngModel name="exercise" required>
            <!-- Here we add the async pipe, because exercises is an Observable: -->
            <mat-option *ngFor="let exercise of exercises$ | async" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>


      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading$ | async)">
        <button *ngIf="exercises$ | async" type="submit" mat-raised-button [disabled]="f.invalid">Start</button>
        <button *ngIf="!(exercises$ | async)" type="submit" mat-raised-button (click)="fetchExercises()">Fetch Again</button>
      </mat-card-actions>

    </mat-card>
  </form>
</section>
