<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <!-- email is a validator from Angular, NOT Angular Material -->
      <input
        type="email"
        matInput
        placeholder="Enter your email"
        ngModel
        name="email"
        email
        required
        #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Password should be at least 6 characters long.">
      <input
        type="password"
        matInput
        placeholder="Enter your password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
      <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
      <mat-error>Must be at least 6 characters long.</mat-error>
    </mat-form-field>

    <!-- Datepicker: -->
    <mat-form-field>
      <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- labelPosition="before" -->
    <mat-checkbox ngModel name="agree" color="primary" required>Agree to terms and conditions.</mat-checkbox>

    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>

<!-- Showing how FlexBox works here: -->
<!-- <section id="container">
  <div id="child1" class="child"></div>
  <div id="child2" class="child"></div>
  <div id="child3" class="child"></div>
</section> -->
