<mat-sidenav-container>
  <!-- [opened]="openSidenav" , opened -->
  <mat-sidenav #sidenav role="navigation">
    <p>I'm Sidenav!</p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div><button (click)="sidenav.toggle()">Toggle Sidenav</button></div>
      <div>LOGO</div>
      <div>
        <a routerLink="/signup">Sign Up</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/training">Training</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <button mat-raised-button color="accent"> -->
<!-- <button mat-icon-button color="accent">
  <mat-icon>home</mat-icon>
</button> -->
